h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:black;
    text-align: center;
}

body {
    align-items: center;
    background-color:  #f3d4b2;
    display: flex;
    justify-content: center;
    height: 100vh;
  }

/* *{ 
    background-color:#00539C;
} */

label {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    margin-left: 2%;
}


button {
    font-size: 30px;
    margin-left: 2%;
    margin-bottom: 1%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

form {
    margin: 10% 10%;
    border-radius: 5px;
    background-color: #E0A96D ;
    padding: 30px;
    border: 2px solid black;
    border-radius: 10px;
    padding-left: 100px;
    padding-right: 100px;
}

input {
    margin-left: 2%;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* div{
    background-color: #EEA47F;
} */

.submit {
    background-color: #4CAF50;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 100%;
  }
  
  .submit:active {
    background-color: #45a049;
  }
  
